.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #111623;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

@media (min-width: 720px) {
  .nav {
    max-width: 320px;
  }
}

@media (min-width: 1280px) {
  .nav {
    max-width: 480px;
  }
}

.nav__login {
  padding: 20px 40px;
  width: 100%;
}

.nav__login__input {
  background-color: #252C37;
  padding: 10px 15px;
  border: 1px solid #595e67;
  outline: none;
  color: #595e67;
  width: 100%;
  margin: 10px 0;
  color: #f2f2f2;
}

[type="submit"].nav__login__input {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  appearance: button;
}

.nav__login__checklabel {
  display: block;
  position: relative;
  padding-left: 35px; 
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  height: 25px;
  color: #f2f2f2;
  margin: 20px 0 20px 20px;
}

.nav__login__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.nav__login__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #111925;
  border: 1px solid #595e67;
}

.nav__login__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.nav__login__checklabel .nav__login__checkbox:checked~.nav__login__checkmark:after {
  display: block;
}

.nav__login__checklabel .nav__login__checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #8518c3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav__login__link {
  color: #f2f2f2;
  display: block;
  line-height: 1.5;
}

.nav__login__link:hover {
  color: #595e67;
}

.nav__i18n {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__i18n__select {
  border: none;
  outline: none;
  -webkit-appearance: none;
  background: none;
  color: #f2f2f2;
  font-size: 1.125rem;
  width: 60px;
  cursor: pointer;
  margin: 0 5px;
  background: url(../images/arrow-down.png) center left no-repeat;
  padding-left: 15px;
  background-size: 10px;
}

.nav__i18n__flag {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin: 40px 0;
}

[data-lang="ENG"] {
  background: url(../images/uk-flag.webp) center center no-repeat;
  background-size: cover;
}

.footer {
  flex: 1;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__icons {
  display: flex;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.footer__icon {
  background: #252c37;
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #f2f2f2;
  justify-content: center;
  font-size: 1.755rem;
  padding: 10px;
  border: 1px solid #595e67;
}
